{# /** * @file * Default theme implementation to print Lorem ipsum text. * * Available variables: * - source_text * * @see template_preprocess_cocoon_media_management() * * @ingroup themeable */ #} {{ kint() }}
<div class="js-form-item form-item js-form-type-select-grid form-type-select-grid js-form-item-cocoon-media-browser-sets form-item-cocoon-media-browser-sets">
  <label>The items:</label>
  {% for item in source_text %}
    <div class="js-form-item form-item js-form-type-select-grid form-type-select-grid js-form-item-select-grid form-item-select-grid">
      <input data-drupal-selector="edit-select-grid-{{ item }}" id="edit-select-grid-{{ item }}" name="cocoon_media_browser[sets]" value="{{ item }}" class="form-radio" type="radio">
      <label for="edit-select-grid-{{ item }}" class="option">{{ item }}</label>
    </div>
  {% endfor %}
</div>

